*.aux
*.log
*.out
*.pdf
*.gz
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.dvi
*.synctex(busy)
*.toc

.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
